{% assign articles = site.pages | where: "layout", "post" | sort: "date" | reverse %}
<ol class="post-list">
  {% for article in articles %}
  <li class="post-list-item">
    <a class="post-list-link" href="{{ article.url | absolute_url }}">
      <time class="post-list-date" datetime="{{ article.date | date: '%Y-%m-%d' }}">{{ article.date | date: '%Y.%m.%d' }}</time>
      <div class="post-list-copy">
        {% if include.heading_level == 2 %}
          <h2 class="post-list-title">{{ article.title }}</h2>
        {% else %}
          <h3 class="post-list-title">{{ article.title }}</h3>
        {% endif %}
        <p class="post-list-excerpt">{{ article.subtitle | default: article.excerpt | strip_html | strip_newlines | truncate: 150 }}</p>
      </div>
      {% if article.reading_time %}<span class="post-list-length">{{ article.reading_time }}</span>{% endif %}
    </a>
  </li>
  {% endfor %}
</ol>
